altgraph==0.17.2
coloredlogs==15.0.1
future==0.18.2
humanfriendly==10.0
pefile==2021.9.3
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
pyreadline3==3.4.1
pywin32-ctypes==0.2.0
PyYAML==6.0
pyyml==0.0.2
